* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.pagina-inicial {
    font-size: 100%;
    width: 100%;
    height: 100vh;
}

.menu {
    background-color: rgb(0, 136, 208);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-bottom: 0.4px solid #ffffff;
}

.menu-imagem {
    margin-top: 5px;
    height: 72px;
}

.menu-opcoes {
    display: flex;
    gap: 90px;
}

.menu-opcao1 {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;

    transition: all 1s;
    transform: translateX(0) scale(1);

    padding: 15px;

    border-radius: 10px;
}

.menu-opcao1:hover {
    transform: scale(1.29);
    background-color: rgb(0, 120, 208);
}

.principal {
    background-image: url(Images/fundo-página-inicial.jpg);
    background-attachment: fixed;

    padding: 5%;

    min-height: 100vh;
}

.principal-secao1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principal-secao1-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal-secao1-titulo {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;
}

.titulo {
    font-size: 30px;
}

.principal-secao1-subtitulo {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.principal-secao1-imagem {
    margin: 20px;

    border-radius: 60px;

    height: 250px;
}
.btn {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 24px;   

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-wtts {
    width: 60px;
    height: 60px;

    background-color: #25D366;

    border: none;
    border-radius: 50%;
}

.btn-wtts:hover {
    background-color: #1eaf54;
}

.btn-email{
    width: 60px;
    height: 60px;

    background-color: #db4a39;

    border: none;
    border-radius: 50%;

}

.btn-email:hover {
    background-color: #ca4334;
}

.botao {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.principal-secao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin-top: 30px;
}

.principal-secao2-subtitulo {
    border-top: 0.4px solid #ffffff;

    padding-top: 48px;
    margin-bottom: 16px;

    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.principal-secao2-paragrafo {
    font-family: calibri,sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}

.rodape {
    padding: 20px;
    border-top: 0.4px solid #ffffff;

    background-color: rgb(0, 136, 208);
}

.rodape-imagem {
    height: 60px;

    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 650px){
    .principal-secao1-titulo {
        font-size: 50px;
        justify-content: center;
        .titulo{
            display: none;
        }
    }
    .principal-secao1-imagem {
        margin: 5px;
        height: 200px;
    }

    .principal .principal-secao1{
        flex-direction: column;
    }

    .menu-opcao1:hover {
        transform: scale(1.1);
        background-color: rgb(0, 120, 208);
    }

    .menu-opcoes {
        gap: 10px;
        align-items: center;
    }

    .menu-opcao1 {
        font-size: 15px;
    }
    .menu-imagem {
        height: 60px;
    }
    
    .principal-secao2-paragrafo {
        font-size: 16px;
        
    }
    
    .principal-secao2{
        padding: 20px;
    }

    .btn-wtts{
        margin: 20px;
    }

    .principal-secao1-imagem {
        margin: 20px;
    }

}
