* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.pagina-projetos {
    font-size: 100%;

    width: 100%;
    height: 100vh;
}

.menu {
    background-color: rgb(0, 136, 208);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-bottom: 0.4px solid #ffffff;
}

.menu-imagem {
    margin-top: 5px;
    height: 72px;
}

.menu-opcoes {
    display: flex;
    gap: 90px;
}

.menu-opcao1 {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;

    transition: all 1s;
    transform: translateX(0) scale(1);

    padding: 15px;

    border-radius: 10px;
}

.menu-opcao1:hover {
    transform: scale(1.29);
    background-color: rgb(0, 120, 208);
}

.principal{
    background-image: url(../Images/fundo-página-inicial.jpg);
    background-attachment: fixed;

    padding: 0 10% ;

    font-family: calibri, sans-serif;
    text-align: justify;

    min-height: 100vh;
}

.principal-secao1 {
    padding-top: 20px;
    border-bottom: 2px solid #ffffff;
}

.principal-secao1-titulo{
    display: flex;
    justify-content: center;

    margin-bottom: 15px;

    font-size: 35px;
    font-weight: 700;
    color:#eeeeee;
}

.principal-secao1-paragrafo{
    margin-bottom: 10px;

    text-indent: 20px;
    
    font-size: 20px;
    color: #dddddd;
}

.principal-secao1-imagem{
    display: block;
    margin: auto;

    width: 100%;    
    border-radius: 10px;

    margin-bottom: 20px;
}

.principal-secao2{
    margin-top: 15px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.principal-secao2-subtitulo{
    text-indent: 10px;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 700;
    color:#eeeeee;
}

.principal-secao2-conteudo1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.principal-conteudo1-imagem{
    border-radius: 10px;
    width: 25%;
}

.principal-conteudo1-texto{
    text-indent: 20px;
    font-size: 20px;
    color: #dddddd;
}

.principal-secao2-conteudo2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding-top: 20px;

    border-top: 2px solid #ffffff;
}

.principal-conteudo2-imagem{
    border-radius: 10px;
    width: 25%;
}

.principal-conteudo2-texto{
    text-indent: 20px;
    font-size: 20px;
    color: #dddddd;
}

.principal-secao2-conteudo3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding-top: 20px;

    border-top: 2px solid #ffffff;
}

.principal-conteudo3-imagem{
    border-radius: 10px;
    width: 25%;
}

.principal-conteudo3-texto{
    text-indent: 20px;
    font-size: 20px;
    color: #dddddd;
}

.principal-secao2-conteudo4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding-top: 20px;

    border-top: 2px solid #ffffff;
}

.principal-conteudo4-imagem{
    border-radius: 10px;
    width: 25%;
}

.principal-conteudo4-texto{
    text-indent: 20px;
    font-size: 20px;
    color: #dddddd;
}

.principal-secao2-conteudo5{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding-top: 20px;

    border-top: 2px solid #ffffff;

    
}

.principal-conteudo5-imagem{
    border-radius: 10px;
    width: 25%;
}

.principal-conteudo5-texto{
    text-indent: 20px;
    font-size: 20px;
    color: #dddddd;
}

.principal-secao2-conteudo6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding-top: 20px;

    border-top: 2px solid #ffffff;

    margin-bottom: 20px;
}

.principal-conteudo6-imagem{
    border-radius: 10px;
    width: 25%;
}

.principal-conteudo6-texto{
    text-indent: 20px;
    font-size: 20px;
    color: #dddddd;
}

.rodape {
    padding: 20px;
    border-top: 0.4px solid #ffffff;

    background-color: rgb(0, 136, 208);
}

.rodape-imagem {
    height: 60px;

    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 650px){
    .menu-opcao1:hover {
        transform: scale(1.1);
        background-color: rgb(0, 120, 208);
    }

    .menu-opcoes {
        gap: 10px;
        align-items: center;
    }

    .menu-opcao1 {
        font-size: 15px;
    }
    .menu-imagem {
        height: 60px;
    }
    
    .principal-secao1-titulo{
        text-align: center;
        font-size: 35px;
    }
    
    .principal-secao1-imagem{
        height: 250px;
        width: 100%;
    }

    .principal-secao2-subtitulo{
        font-size: 30px;
        text-align: center;
    }

    .principal-secao2-conteudo1{
        flex-direction: column;
    }

    .principal-conteudo1-imagem{
        width: 70%;
    }

    .principal-conteudo1-texto{
        text-indent: 0px;
    }

    .principal-secao2-conteudo2{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .principal-conteudo2-imagem{
        width: 70%;
        
    }

    .principal-conteudo2-texto{
        text-indent: 0px;
    }

    .principal-secao2-conteudo3{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .principal-conteudo3-imagem{
        width: 70%;
    }

    .principal-conteudo3-texto{
        text-indent: 0px;
    }
    .principal-secao2-conteudo4{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .principal-conteudo4-imagem{
        width: 70%;
        height: 200px;
    }

    .principal-conteudo4-texto{
        text-indent: 0px;
    }

    .principal-secao2-conteudo5{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .principal-conteudo5-imagem{
        width: 70%;
        
    }

    .principal-conteudo5-texto{
        text-indent: 0px;
    }

    .principal-secao2-conteudo6{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
    }

    .principal-conteudo6-imagem{
        width: 70%;
        
    }

    .principal-conteudo6-texto{
        text-indent: 0px;
    }
}
