* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.pagina-projetos {
    font-size: 100%;

    width: 100%;
    height: 100vh;
}

.menu {
    background-color: rgb(0, 136, 208);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-bottom: 0.4px solid #ffffff;
}

.menu-imagem {
    margin-top: 5px;
    height: 72px;
}

.menu-opcoes {
    display: flex;
    gap: 90px;
}

.menu-opcao1 {
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;

    transition: all 1s;
    transform: translateX(0) scale(1);

    padding: 15px;

    border-radius: 10px;
}

.menu-opcao1:hover {
    transform: scale(1.29);
    background-color: rgb(0, 120, 208);
}

.principal{

    background: #f0f0f0;

    padding: 20px;

    font-family: calibri, sans-serif;
}

.principal-secao1 {
    border-bottom: 2px solid #ffffff;
}

.principal-secao1-titulo{
    display: flex;
    justify-content: center;

    margin-bottom: 15px;

    font-size: 35px;
    font-weight: 700;
    color: #2c2c2c;
}

.principal-secao1-paragrafo{
    padding: 0 0 10px 20px;
    
    font-size: 20px;
    color: #3f3f3f;
}

.principal-secao1-imagem{
    display: block;
    margin: auto;

    height: 365px;
    
    border-radius: 10px;

    margin-bottom: 20px;
}

/*.principal-secao2{
    margin-top: 30px;
    
}

.principal-secao2-subtitulo{
    font-family: calibri, sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: rgb(255, 242, 18);
    padding-top: 48px;
    border-top: 0.4px solid #ffffff;
    display: flex;
    justify-content: center;
}

.principal-secao2-conteudo1{
    display: flex;
    justify-content: space-around;
}

.principal-conteudo1-imagem{
    border-radius: 10px;
    margin-top: 20px;
    height: 300px;
}

.principal-conteudo1-texto{
    color: #ffffff;
    font-family: calibri, sans-serif;
    font-size: 35px;
    margin: 20px;
}

.principal-secao2-conteudo2{
    border-top: 0.4px solid #ffffff;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.principal-conteudo2-imagem{
    margin-top: 20px;
    border-radius: 10px;
    height: 300px;
}

.principal-conteudo2-texto{
    color: #ffffff;
    font-family: calibri, sans-serif;
    font-size: 35px;
    margin: 20px;
}

.principal-secao2-conteudo3{
    border-top: 0.4px solid #ffffff;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.principal-conteudo3-imagem{
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
}

.principal-conteudo3-texto{
    color: #ffffff;
    font-family: calibri, sans-serif;
    font-size: 35px;
    margin: 20px;
}

.principal-secao2-conteudo4{
    border-top: 0.4px solid #ffffff;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.principal-conteudo4-imagem{
    margin-top: 20px;
    border-radius: 10px;
    height: 300px;
}

.principal-conteudo4-texto{
    color: #ffffff;
    font-family: calibri, sans-serif;
    font-size: 35px;
    margin: 20px;
}

.principal-secao2-conteudo5{
    border-top: 0.4px solid #ffffff;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.principal-conteudo5-imagem{
    margin-top: 20px;
    border-radius: 10px;
    height: 300px;
}

.principal-conteudo5-texto{
    color: #ffffff;
    font-family: calibri, sans-serif;
    font-size: 35px;
    margin: 20px;
}

.principal-secao2-conteudo6{
    border-top: 0.4px solid #ffffff;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.principal-conteudo6-imagem{
    margin-top: 20px;
    border-radius: 10px;
    height: 400px;
}

.principal-conteudo6-texto{
    color: #ffffff;
    font-family: calibri, sans-serif;
    font-size: 35px;
    margin: 20px;
}*/

.rodape {
    padding: 20px;
    border-top: 0.4px solid #ffffff;

    background-color: rgb(0, 136, 208);
}

.rodape-imagem {
    height: 60px;

    display: block;
    margin: 0 auto;
}